@import url('https://fonts.googleapis.com/css?family=Maitree:500,600|Work+Sans');

body {
  font-family: 'Work Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Maitree', serif;
  font-weight: 600;
  text-align: center;
}

h3 {
  margin: 3rem 0;
}

p {
  margin-bottom: 3rem;
}
