@import url('https://fonts.googleapis.com/css?family=Josefin+Slab:600,700|Work+Sans');

body {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.6rem;
}

h2,
h3,
h4,
h5 {
  font-family: 'Josefin Slab', serif;
  font-weight: 600;
}

h3 {
  margin: 3rem 0;
  text-align: center;
}

section,
footer {
  margin-top: 5rem;
}
